<!--Start Footer-->
<footer class="wow bounceInUp">
  <div class="container">
      <div class="head">
          <h2>
              2b systems
          </h2>
          <div class="line"></div>
          <div class="sub-line"></div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="foot">
                  <h2> <i class="fas fa-hand-point-right"></i> menu</h2>
                  <a href="index.html">home</a>
                  <a href="About/About.html">about</a>
              </div>
          </div>
          <div class="col-md-4">
                  <div class="foot">
                      <h2> <i class="fas fa-hand-point-right"></i> links</h2>
                      <a href="https://www.acumatica.com/">acumatica</a>
                      <a href="https://www.odoo.com/">odoo</a>
                  </div>
              </div>
              <div class="col-md-4">
                      <div class="foot">
                          <h2> <i class="fas fa-hand-point-right"></i> contact</h2>
                           <a href="https://www.facebook.com/2BEgypt/"> <i class="fab fa-facebook-f fac"></i>   facebook</a>
                           <a href="https://www.instagram.com/2begypt/">  <i class="fab fa-instagram gold"></i>   instgram</a>
                          <a href="https://twitter.com/2B_Egypt">  <i class="fab fa-twitter twi"></i>   twitter</a>
                      </div>
                  </div>
      </div>
      <div class="copy">
              Copyright © 2019 All rights reserved  by 2BSYSTEMS
      </div>
  </div>
</footer>
<!--End Footer-->
