<!--Start About -->
<div class="about">
  <div class="container">
      <div class="head">
          <h2 class="wow bounceIn">Company overView </h2>
          <div class="text wow bounceIn">
              <h3>
                      An enterprise solution provider since 1998, 2B Systems is a dynamic company supplying 
                      ERP solutions to small, medium and manufacturing enterprises. By providing ERP solutions, 
                      2B Systems has gained valuable insight to customer needs and requirements and mastered the
                      requirements of being a successful solutions provider.
                      Our people are well trained, enthusiastic, and deliver world-class customer service.
              </h3>
           </div>
    </div>
  </div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6">
            <div class="string wow bounceInLeft">
                <h3>2B systems</h3>
                <h4>
                      is considered one of the most professional software companies with its professional team 
                      where we offer the strongest support and consulting services. Out of our concern to 
                      provide the highest quality and our continuous efforts to introduce the highest level 
                      of products and services, we recruit the most
                       talented and skilled calibers in the market with a continuous skills improvement.
                </h4>
            </div>
        </div>
        <div class="col-md-6">
              <div class="string two wow bounceInRight">
                  <h3>2B systems</h3>
                  <h4>
                          2B Systemsis established to provide high quality and cost-effective solutions to 
                          organizations looking at standardizing their business management operations. 
                          2B Systems Consulting employs the most up to date 
                          technologies that enable businesses achieve their strategic corporate objectives.
                  </h4>
              </div>
          </div>
    </div>
  </div>
  <div class="three wow bounceInUp">
      <h3>2B systems</h3>
      <h4>
              2B Systemsis considered one of the most professional software companies with its 
              professional team where we offer the strongest support and consulting services.
      </h4>
  </div>
</div>
<!--End About-->
<!--Start Section-->
<section>
  <div class="container">
      <div class="head">
          <h2>2B systems</h2>
          <p>The Way To Success</p>
      </div>
      <div class="gal">
          <div class="over">
              <img src="assets/logo-10.jpg">
          </div>
           <img src="assets/about-2.jpg">
      </div>
  </div>
</section>
<!--End Section-->
<!--Start Vision-->
<div class="vision">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="vis wow slideInLeft">
                  <h2>our vision</h2>
                  <p>2B Systems Development has developed ready
                       products to match the needs and requirements of specific
                        business areas.</p>
              </div>
          </div>
          <div class="col-md-6">
                  <div class="vis wow slideInRight">
                      <img src="assets/vision.jpeg" class="img-fluid">
                  </div>
           </div>
      </div>
  </div>
</div>
<!--End Vision-->
<!--Start Mision-->
<div class="mision">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                   <div class="vis wow slideInLeft">
                      <img src="assets/mission.png" class="img-fluid">
                   </div>
              </div>
              <div class="col-md-6">
                      <div class="vis wow slideInRight">
                              <h2>our Mission</h2>
                              <p>2B Systems Development provides wonderful solutions through its 
                                  partnerships with top technology providing companies around the world.</p>
                       </div>
               </div>
          </div>
      </div>
  </div>
<!--End Mision-->
<!--Start Up-->
<div class="up">
    <i class="fas fa-chevron-up"></i>
  </div>
<!--End Up-->
