<!--Start contact-->
<div class="contact">
  <h2>Keep In Touch With Us</h2>
</div>
<!--End Contact-->
<!--Start Form-->
<div class="form">
  <div class="container">
          <div class="head">
                 <h2>Contact Us</h2>
                 <h3 class="line"></h3>
                 <h3 class="subline"></h3>
          </div>
  </div>
  <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="conta">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.5000766104677!2d31.35093843540626!3d30.051197075209625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fcda28078ad%3A0xe6c627c33705a0f9!2z2KfZhNiz2LHYp9isINmF2YjZhA!5e0!3m2!1sar!2seg!4v1554413053022!5m2!1sar!2seg" width="600" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-lg-6">
                <div class="conta">
                  <div class="head">
                  <h2> Send Message</h2>
                  <p>leat's deal together.</p>
                  </div>
                  <form>
                    <label>Your Name</label>
                    <input type="text" name="name">
                    <label>Your Email</label>
                    <input type="text" name="email">
                    <label>Phone Number</label>
                    <input type="number" name="number">
                    <label>Your Message</label>
                    <input type="text" name="message">
                    <button>send message</button>
                  </form>
                </div>
              </div>
          </div>
        </div>
        <div class="container">
            <div class="center">
            <h2>Our Places</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="street">
                        <h3 class="red">Egypt</h3>
                        <p>Abu Dawood El-Zahery St.,Nasr City, Cairo, Egypt</p>
                        <i class="fas fa-phone"></i> <span>16420</span>
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="street">
                          <h3 class="green">Saudi Arabia</h3>
                          <p>8 Khaled Ebn Elwaleed St. - Elahmad Plaza - Jedda - Saudi Arabia</p>
                          <i class="fas fa-phone"></i> <span>0096626518035</span> <br/>
                          <i class="fas fa-phone"></i> <span>0096626518045</span>
                      </div>
                  </div>
              </div>
            </div>
        </div>
</div>
<!--End Form-->
<!--Start Up-->
<div class="up">
  <i class="fas fa-chevron-up"></i>
</div>
<!--End Up-->

